spacy_streamlit
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
pandas
tensorflow==2.4.1
spacy
matplotlib==3.4.2
streamlit==0.87.0
wordcloud==1.8.1
numpy
tensorflow_hub
